<div class="mt-5">
    <ul class="nav nav-pills custom-nav-pills justify-content-center mb-2" role="tablist">
        <li class="nav-item me-2" role="presentation">
            <button class="nav-link active border border-0 rounded" id="ug-tab" data-bs-toggle="tab" data-bs-target="#ug-tab-pane" type="button" role="tab" aria-controls="ug-tab-pane">
                <img src="assets/ultimate-guitar-icon.png" class="rounded mx-auto d-block mb-1" style="width: 50px; height: 50px;" alt="Ultimate-Guitar Search">
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="sp-tab" data-bs-toggle="tab" data-bs-target="#sp-tab-pane" type="button" role="tab" aria-controls="sp-tab-pane">
                <img src="assets/spotify-icon.webp" class="rounded mx-auto d-block mb-1" style="width: 50px; height: 50px;" alt="Ultimate-Guitar Search">
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="ug-tab-pane" role="tabpanel" aria-labelledby="ug-tab" tabindex="0">
            <div class="row justify-content-center">
                <div class="col-6">
                    <app-ugsearch></app-ugsearch>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="sp-tab-pane" role="tabpanel" aria-labelledby="sp-tab" tabindex="0">
            <div class="row justify-content-center">
                <div class="col-6">
                    <app-spsearch></app-spsearch>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
