
<div>
    <h1>
        Home
    </h1>
    <div>
        <ul *ngFor="let tab of tabs">
            <li>
                <div>
                    {{tab.song_name}} by {{tab.artist_name}} {{tab.type}}
                </div>
                <div>
                    Stars: {{tab.rating}} from {{tab.votes}} ratings.
                </div>
                <div>
                    <a href={{tab.tab_url}}>
                        Tab Link
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>